@import './tailwind.css';
@import './main.css';
@import './scroll.css';
@import './swiper.css';
@import './range.css';
@import './loading.css';


body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
